<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="charts">
<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" 
    chart-legend="false" chart-series="series" chart-click="onClick"></canvas>
</div>
 
<div id="div_doughnut" class="charts">
	<canvas id="doughnut" class="chart chart-doughnut"
	chart-data="data2" chart-labels="labels2">
	</canvas>
</div>

<div id="div_bar" class="charts">
<canvas id="bar" class="chart chart-bar"
  chart-data="data3" chart-labels="labels3" chart-series="series3"></canvas>
</div>
 

 -->

 <div id="main">
 <div id="complete">
 	<h5>Speed Zones</h5>
 	<div>
		<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" 
		chart-legend="false" chart-series="series" chart-click="onClick"></canvas>
 	</div>
 </div>
 	<div id="izq">
 		<h6>Count by Zones</h6>
		
		<canvas id="bar" class="chart chart-bar"
		chart-data="data3" chart-labels="labels3" chart-series="series3">
		</canvas>
 	
 	</div>
 	<div id="der">
 		<h6>Speed Average</h6>
 		<div>
		<canvas id="doughnut" class="chart chart-doughnut"
		chart-data="data2" chart-labels="labels2">
		</canvas>
 		</div>
 	</div>
 </div>
 