<div class="container">
	 <div class="galleryItem">
	 <h6> chain Store Age</h6>
<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/IMG-8545.jpg" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>
 
	 <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/random-pixels-wallpaper-big.jpg" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>

	 <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/demo-img-2-3-868x556.png" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>
 
	 <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/random-pixels-wallpaper-big.jpg" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>

	 <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/IMG-8545.jpg" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>
 
	 <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/IMG_2145.jpg" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>
</div>


<div class="container">
	 <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/random-pixels-wallpaper-big.jpg" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>
 
	 <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/demo-img-2-3-868x556.png" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>
	  <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/demo-img-2-3-868x556.png" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>
 
	 <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/random-pixels-wallpaper-big.jpg" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>

	 <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/IMG_2145.jpg" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>

	 <div class="galleryItem">
		<h6> chain Store Age</h6>
		<h5>Billabong taps NetSuite to power omnichannel strategy</h5>
	 	<a href="#"><img class="img-responsive" src="img/IMG_2145.jpg" alt="" /></a>
	 	<h3>Title</h3>
	 	<p>Lorem ipsum dolor sit amet...</p>
	 </div>
</div>