body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #2f323a;
    position: absolute;
    height: 100%;
    overflow: auto;
}

li a.active{
background-color: #1e2025;
}

li a {
    margin-top: 20px;
    display: block;
    color: #fff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.divDer{
   margin-left:25%;
   padding:1px 16px;
   height:500px; 
}

.container{
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
}

.charts{
    margin-bottom: 10%;
}

// canvas{
//     width: 40% !important;
// }

#main{
    width: 100%;
}
#complete{
    width:100%;
}

#izq, #der{
float: left;
}
#izq{
    width:50%;
    height:100%;
}

#der{
    width:50%;
}

